<h1>Projects</h1>

<p>Here are all the Projects</p>

<table>
	<tbody>
		<tr>
			<th>Action</th>
			<th>Project</th>
			<th>Owner</th>
		</tr>
		<%= render partial: "project", collection: @projects %> 
	</tbody>
</table>