<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv='Content-Type' />
</head>
<body>
	<h1>Work Created</h1>
	<p>User <%= @work.user %> posted a work item:
	<br><%= @work.workdate %>
	<br>Project: <%= @work.project.name %>
	<br>Hours: <%= @work.hours %></p>
</body>
</html>

